<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saved Applications</title>
    <link rel="stylesheet" href="/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/ulx6jeq.css" />
    <script src="/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <script id="page" type="application/json">
      <%- JSON.stringify(filteredUsers) %>
    </script>
    <main class="cv-list">
      <% filteredUsers.forEach((user, index) => { %>
        <section class="cv">
          <header>
            <div>
              <h1><%- user.firstName %> <%- user.lastName %></h1>
              <h2><%- user.job %> | <%- user.age %></h2>
            </div>
            <img src="<%- user.image %>" alt="profile picture">
          </header>
          <main>
            <section class="jobs">
              <ol>
                <% user.jobs.forEach((job, index) => { %>
                  <li>
                    <div>
                      <h2>Jobs</h2>
                      <p><%- index + 1 %>/<%- user.jobs.length %></p>
                      <h3><%- job.startYear %> - <% if (new Date().getFullYear() <= job.endYear) { %>Now<% } else { %><%- job.endYear %><% } %></h3>
                    </div>
                    <div>
                      <p><%- job.title %> at <%- job.location %></p>
                      <p><%- job.description %></p>
                    </div>
                    <div>
                      <a href="<%- job.link %>">
                        <img src="/images/external.svg" alt="go to company" />
                      </a>
                      <a href="mailto: <%- job.reference %>">
                        <p>References</p>
                        <img src="/images/references.svg" alt="go to company" />
                      </a>
                    </div>
                  </li>
                <% }); %>
              </ol>
            </section>
            <section class="skills">
              <h2>Skills</h2>
              <ul>
                <% user.skills.forEach(skill => { %>
                  <li>
                    <div>
                      <p><%- skill.title %></p>
                      <p><%- skill.level %></p>
                    </div>
                  </li>
                <% }); %>
              </ul>
            </section>
            <section class="education">
              <h2>Education</h2>
              <ul>
                <% user.education.forEach(schooling => { %>
                  <li>
                    <div>
                      <h3><%- schooling.degree %></h3>
                      <h3>'<%- JSON.stringify(schooling.startYear).slice(-2) %> - <% if (new Date().getFullYear() <= schooling.endYear) { %>Now<% } else { %>'<%- JSON.stringify(schooling.endYear).slice(-2) %><% } %></h3>
                    </div>
                    <p><%- schooling.school %></p>
                  </li>
                <% }); %>
              </ul>
            </section>
            <section class="buttons">
              <form method="post">
                <input type="hidden" name="type" value="delete">
                <input type="hidden" name="userId" value="<%- user._id %>">
                <button type="submit" class="btn-ignore" id="delete-saved" data-id="<%- user._id %>" data-index="<%- index %>">
                  <img src="/images/close.svg" alt="ignore" />
                </button>
              </form>
            </section>
          </main>
        </section>
      <% }); %>
      <section class="end">
        <h1>
          You don't have any matches
        </h1>
        <a href="/match">
          Start matching with applicants!
          <img src="/images/contact.svg" alt="Contacts"/>
        </a>
      </section>
    </main>
    <%- include('footer', {tab: 3}); %>
  </body>
</html>
